<h3>Request Data</h3>
<ul class="request-data">
  {{request-key label="Method" value=model.requestMethod}}
  {{request-key label="URL" value=model.requestUrl}}
  {{request-key label="Time" value=model.occurredAt}}
  {{request-key label="Headers" value=model.requestHeaders code=true}}
  {{request-key label="Body" value=model.requestBody code=true}}
</ul>
<h3>Response Data</h3>
<ul class="request-data">
  {{request-key label="Status" value=model.responseStatus}}
  {{request-key label="Headers" value=model.responseHeaders code=true}}
  {{request-key label="Body" value=model.responseBody code=true}}
</ul>
{{outlet}}
