<form {{action "filter" filters on="submit"}}>
  {{input placeholder="Filter by email" value=emailFilter}}
  {{input placeholder="Ex: yesterday at 2pm, 1/1/2013 1:10:13" value=startTime}}
  {{input placeholder="Ex: today at 4pm, 1/1/2013 14:43:00" value=endTime}}
  <input type="submit" value="Filter">
  <button href="#" {{action "reset"}}>Reset</button>
</form>
<div class="row">
  <div class="column">
    <ul class="events">
      {{#each event in model}}
        <li class="spec-event">
          {{#link-to "events.show" event}}
            {{event.occurredAt}} - {{event.description}}
          {{/link-to}}
        </li>
      {{/each}}
      <li style="background-color: #adadad">&nbsp;</li>
    </ul>
  </div>
  {{outlet}}
</div>
