<form {{action "filter" filters on="submit"}}>
  {{input placeholder="Filter by email" value=emailFilter class="spec-email-filter"}}
  {{input placeholder="Ex: yesterday at 2pm, 1/1/2013 1:10:13" value=startTime class="spec-start-time-filter"}}
  {{input placeholder="Ex: today at 4pm, 1/1/2013 14:43:00" value=endTime class="spec-end-time-filter"}}
  <input type="submit" value="Filter" class="spec-filter">
  <button href="#" {{action "reset"}}>Reset</button>
</form>
{{#if isFiltering}}
  <label>Filtering By:</label>
  {{#if email}}
    <label>Email: </label>{{email}}
  {{/if}}
  {{#if start}}
    <label>Start Time:</label>{{start}}
  {{/if}}
  {{#if end}}
    <label>End Time:</label>{{end}}
  {{/if}}
{{/if}}
<div class="row">
  <div class="column">
    <ul class="events">
      {{#each event in controller}}
        <li class="spec-event">
          {{#link-to "events.show" event}}
            {{event.occurredAt}} - {{event.description}}
          {{/link-to}}
        </li>
      {{/each}}
      <li style="background-color: #adadad">&nbsp;</li>
    </ul>
  </div>
  {{outlet}}
</div>
