<form {{action "filter" emailFilter}}>
  {{input placeholder="Filter by email" value=emailFilter}}
  <input type="submit" value="Filter">
  <button href="#" {{action "reset"}}>Reset</button>
</form>
<div class="row">
  <div class="column">
    <ul class="events">
      {{#each event in model}}
        <li>{{#link-to "events.show" event}}{{event.occurredAt}} - {{event.description}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>
  {{outlet}}
</div>
